:root {
  --primary: #b00000;
  --bg: #0e0e0e;
}
/* Style Desktop Start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
  min-height: 4000px;
  flex-wrap: wrap;
}
.button_login {
  background-color: #f5c518;
}
.button_daftar {
  background-color: #fff;
}
/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: #0e0e0e;
  border-bottom: 1px solid #f5c518;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.navbar .navbar-logo {
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
  font-style: italic;
}
.navbar .navbar-logo span {
  color: #f5c518;
}
.navbar .navbar-nav a {
  color: white;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 1rem;
}
.navbar .navbar-nav a:hover {
  color: #f5c518;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #f5c518;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.6);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}
.navbar .navbar-extra a:hover {
  color: #f5c518;
}

/* Hero Section Start */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/movie.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero ::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(0deg) rgba(1, 1, 3, 1) 8% rgba(255, 255, 0) 50%;
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 5em;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1;
}

.hero .content h1 span {
  color: #f5c518;
  font-size: 1em;
}
.hero .content a {
  font-size: 2.5em;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1;
}
.hero .content p {
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}
/* Hero Section End */
/* About Section Start */
.about {
  text-align: center;
  padding: 7.5rem;
}
.about span {
  color: #f5c518;
  font-style: italic;
}
.law {
  padding: 1rem 10% 10rem;
  display: flex;
}
.text-box {
  padding: 0 1% 0;
}
.text-box h3 {
  font-size: 1.5rem;
}
.p-box {
  font-size: 0.9rem;
}

/* About Section End */

/* Style Desktop End */
/* Menu Section Start */
.menu {
  padding: 17%;
}
.menu span {
  color: #f5c518;
  font-style: italic;
}
.menu h2 {
  text-align: center;
  margin-top: -10rem;
  font-size: 1.6rem;
}
.menu p {
  text-align: center;
  font-style: italic;
}
.menu .low {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}
.menu .low .menu-card {
  text-align: center;
}
.menu .low .menu-card img {
  border-radius: 30px 30px 30px 30px;
  width: 80%;
}
.menu .low .menu-card .menu-card-title {
  margin: 1rem auto 0.5rem;
}
.contact {
  padding: 8rem 7% 1.4rem;
}
.contact h2 {
  text-align: center;
  font-size: 1.6rem;
}
.contact span {
  color: #f5c518;
  font-style: italic;
}

/* Contact Section Start */
.contact .alone {
  display: flex;
  margin-top: 2rem;
  background-color: #222;
}
.contact .alone .map {
  flex: 10 10 45rem;
  width: 100%;
  object-fit: cover;
}
.contact .alone form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}
.contact .alone form .input-group {
  display: flex;
  align-items: center;
  margin: 2rem;
  background-color: var(--bg);
  border: 1px solid #9c9c9c;
  padding-left: 2rem;
}
.contact .alone form .input-group input {
  width: 100%;
  padding: 0rem 7%;
  font-size: 2.4rem;
  background: none;
  color: #fff;
}
.contact .alone form button {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background-color: #f5c518;
  cursor: pointer;
}
.contact .alone {
  flex-wrap: wrap;
}
.contact .alone form {
  padding: 0;
}
/* Contact Section End */
/* Menu Section End */

footer {
  background-color: #f5c518;
  text-align: center;
  padding: 1rem 0;
  margin-top: 1rem;
}
footer .socials {
  padding: 0rem 0;
}
footer .socials a {
  color: var(--bg);
}
footer .socials a:hover {
  color: #fff;
  margin: 1rem;
}

footer .links a {
  color: #fff;
  margin: 0.5rem;
}
footer .links a:hover {
  margin-bottom: 0.5rem;
}

footer .credit {
  font-size: 0.8rem;
}
footer .credit a {
  color: var(--bg);
  font-weight: 700;
}
/* Catatan Media Start */
/* Media Queris */
/* Laptop */
/* Tab */
/* Mobile */
/*  Catatan Media End*/

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tab */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
}

/* Mobile */
@media (max-width: 500px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 477px) {
  *,
  html,
  body {
    width: 100%;
  }
  .law {
    padding: 0;
    width: 30%;
    height: 10%;
  }
}
